body {
	overflow: hidden;
}
#aboutPic {
	position: absolute;
	left: 35%;
	top: 15%;
	z-index: -2;
	width: 80%;
}

#about {
	position: absolute;
	left: 5%;
	top: 35%;
	color: #ffffff;
	font-size: 45px;
}
