body {
	overflow: hidden;
}
#aboutPic {
	position: absolute;
	left: 35%;
	top: 15%;
	z-index: -2;
	width: 80%;
}

#about {
	position: absolute;
	left: 5%;
	top: 35%;
	color: #ffffff;
	font-size: 45px;
}

/* Mobile styles below */
@media only screen and (max-width: 768px) {
	#aboutPic {
		width: 400px;
		height: 200px;
		left: 10%;
	}
	#about {
		font-size: 30px;
	}
}

/* Mobile styles below */
