#title1 {
	color: white;
	position: absolute;
	top: 6em;
	left: 6em;
}

#title2 {
	color: white;
	position: absolute;
	top: 8em;
	left: 6em;
}

#name {
	color: white;
	position: absolute;
	top: 10em;
	left: 6em;
}

img {
	position: absolute;
	top: 16em;
	left: 58em;
}
