#project1 {
	width: 90%;
	height: 90%;
}
#project2 {
	width: 90%;
	height: 90%;
}
#project3 {
	width: 90%;
	height: 90%;
}
#project4 {
	width: 90%;
	height: 90%;
}
#project5 {
	width: 90%;
	height: 90%;
}
#project6 {
	width: 90%;
	height: 90%;
}
#portfolioTitle {
	color: white;
	position: absolute;
	top: 20%;
	left: 10%;
}
#carouselExampleControls {
	width: 35%;
	height: 50%;
	position: absolute;
	top: 40%;
	left: 40%;
}

#logoBehance {
	position: absolute;
	top: 40%;
	left: 10%;
}
#logoGithub {
	position: absolute;
	top: 40%;
	left: 15%;
}
#logoCodepen {
	position: absolute;
	top: 40%;
	left: 20%;
}
#logoLinkedin {
	position: absolute;
	top: 39%;
	left: 23%;
	width: 90px;
	height: 65px;
}
.carousel-item {
}
