.App {
	text-align: center;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* li {
	float: right;
}

li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 36px;
	text-decoration: none;
}

li a:hover {
	color: blueviolet;
	text-decoration: none;
} */

.bg-light {
	color: red;
}
#navbarMain {
	background-color: rgba(255, 255, 255, 0) !important;
}

.nav-link:hover {
	color: #00ccff !important;
}
