.App {
	text-align: center;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* li {
	float: right;
}

li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 36px;
	text-decoration: none;
}

li a:hover {
	color: blueviolet;
	text-decoration: none;
} */

/* Desktop ONLY styles */
@media only screen and (min-width: 992px) {
	ul {
		position: relative;
		left: 80%;
		right: 1%;
	}
}
/* End of desktop ONLY styles */

/* Tablet styles below */
@media only screen and (max-width: 992px) {
	ul {
		display: flexbox;
		float: right;
	}
}
/* End of tablet styles */

/* Mobile styles below */
@media only screen and (max-width: 768px) {
	ul {
		display: flexbox;
		float: right;
	}
	li {
	}
}
/* End of mobile styles */
.bg-light {
	color: red;
}
#navbarMain {
	background-color: rgba(255, 255, 255, 0) !important;
}

.nav-link:hover {
	color: #00ccff !important;
}
