.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* li {
	float: right;
}

li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 36px;
	text-decoration: none;
}

li a:hover {
	color: blueviolet;
	text-decoration: none;
} */

/* Desktop ONLY styles */
@media only screen and (min-width: 992px) {
	ul {
		position: relative;
		left: 80%;
		right: 1%;
	}
}
/* End of desktop ONLY styles */

/* Tablet styles below */
@media only screen and (max-width: 992px) {
	ul {
	}
}
/* End of tablet styles */

/* Mobile styles below */
@media only screen and (max-width: 768px) {
	ul {
	}
}
/* End of mobile styles */
