body {
	background: url(./bg.svg) no-repeat center center fixed;
	-webkit-background-size: no-repeat center center fixed;
	-moz-background-size: no-repeat center center fixed;
	-o-background-size: no-repeat center center fixed;
	background-size: no-repeat center center fixed;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
	background-attachment: fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./bg.svg', sizingMethod='scale');
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
